<link rel="stylesheet" href="/css/home.css">
<div class="container">
    <div class="col-md-12">
        <form action="/posts/create" id="new-post-form" method="POST">
        <textarea name="content" class="form-control" rows="4" placeholder="What are you thinking?"></textarea>
        <div class="mar-top clearfix">
          <button class="btn btn-sm btn-primary pull-right share" type="submit"><i class="fa fa-pencil fa-fw"></i> Share</button>
        </form>
      </div>
      <br>
        <% for(post of posts){ %>
          <div class="card" style="background-color:black;color: white; opacity: 0.80; margin-bottom: 4px;" >
            <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
            <div class="card-body">
              <h5 class="card-title"><%=post.user.name%></h5>
              <p class="card-text"><%=post.content%></p>
            </div>
            <div class="card-body">
              <a href="#" class="card-link">Card link</a>
              <a href="#" class="card-link">Another link</a>
              <hr style="background-color:white;">
              <div id="comment">
                <form action="/comments/create" method="post">
                  <input type="text" name="content" placeholder="Type here to add comment...">
                  <input type="hidden" name="post" value="<%=post._id%>">
                  <input type="submit" value="Add Comment">
                </form>
              </div>
              <div class="card-body" style="color: white;">
                <ul id="post-comment-<%=post._id%>">
                  <% for(comment of post.comments){%>
                    <p><%=comment.content%>
                      <br>
                      <small><%=comment.user.name%></small>
                    </p>
                  <%}%>
                </ul>
              </div>
            </div>
          </div> 
        <%}%>
        
</div>
</div>



