<link rel="stylesheet" href="/css/home.css">
<div id="home-container">
<div class="container" id="feed-posts">
    <div class="col-md-12">
        <form action="/posts/create" id="new-post-form" method="POST">
        <textarea name="content" class="form-control" rows="4" placeholder="What are you thinking?"></textarea>
        <div class="mar-top clearfix">
          <button class="btn btn-sm btn-primary pull-right share" type="submit"><i class="fa fa-pencil fa-fw"></i> Share</button>
        </form>
      </div>
      <br>
      <div id="posts-list-container">
        <% for(post of posts){ %>
          <div class="post" id="post-<%=post._id%>" data-id=<%=post._id%>>
            <div class="d-flex justify-content-center row">
                <div class="col-md-12">
                    <div class="d-flex flex-column comment-section" >
                        <div class="bg-white p-2 " >
                          <%if( post.user.avatar){%>
                            <div class="d-flex flex-row user-info" style="padding-left: 10px;"><img class="rounded-circle" src="<%=post.user.avatar%>" width="40">
                            <%}else{%>
                              <div class="d-flex flex-row user-info" style="padding-left: 10px;"><img class="img" src="/images/default.png" width="40">
                              <%}%>
                                <div class="d-flex flex-column justify-content-start ml-2"><span class="d-block font-weight-bold name"><%=post.user.name%></span><span class="date text-black-50">Shared publicly - <%=post.createdAt%></span></div>
                            </div>
                            <div class="mt-2" style="padding-left: 10px;">
                                <p class="comment-text"><%=post.content%></p>
                            </div>
                        </div>
                        <div class="bg-white">
                            <div class="d-flex flex-row fs-12" style="padding-left: 10px;">
                                <div class="like p-2 cursor likeButton"><i class="fa fa-heart"></i><span class="ml-1">Like<span class="like-cnt">(<%=post.likes.length%>)</span></span></div>
                                <div class="like p-2 cursor action-collapse" data-toggle="collapse" aria-expanded="true" aria-controls="collapse-<%=post._id%>" href="#collapse-<%=post._id%>"><i class="fa fa-comment"></i><span class="ml-1">Comment</span></div>
                                <!-- <div class="like p-2 cursor"><i class="fa fa-commenting-o"></i><span class="ml-1">Comment</span></div> -->
                                <div class="like p-2 cursor"><i class="fa fa-share"></i><span class="ml-1">Share</span></div>
                                <% if(post.user.id==locals.user.id){%>
                                <div class="like p-2 cursor"><a href="/posts/destroy/<%=post._id%>"  class="like cursor delete-post-button"><i class="fa fa-trash-alt"></i><span class="ml-1">Delete</span></a></div>
                                <%}%>
                            </div>
                        </div>
                        <div class="bg-light p-2" >
                          <form action="/comments/create" id="new-comment-form" method="POST">
                            <%if(user.avatar){%>
                            <div class="d-flex flex-row align-items-start" style="padding-left: 10px;"><img class="rounded-circle" src="<%=user.avatar%>" width="35">
                              <%}else{%>
                                <div class="d-flex flex-row align-items-start" style="padding-left: 10px;"><img class="rounded-circle" src="/images/default.png" width="35">
                              <%}%>
                                <textarea class="form-control ml-1 shadow-none textarea" name="content" placeholder="Add a comment..." required></textarea>
                                <input type="hidden" name="post" value="<%=post._id%>">
                            </div>
                            <div class="mt-2 text-right"><button class="btn btn-primary btn-sm shadow-none" type="submit">Post comment</button></div>
                            </form>
                            
                            <div id="collapse-<%=post._id%>" class="bg-light p-2 collapse" data-parent="#myGroup">
                            <div id="comments-list-container">
                            <%for (comment of post.comments) {%>
                              <div class="card p-3 mb-2">
                                <%if(comment.user.avatar){%>
                                <div class="d-flex flex-row"> <img src="<%=comment.user.avatar%>" height="35" width="35" class="rounded-circle" style="margin-right: 10px;">
                                  <%}else{%>
                                    <div class="d-flex flex-row"> <img src="/images/default.png" height="35" width="35" class="rounded-circle" style="margin-right: 10px;">
                                  <%}%>
                              
                                  <div class="d-flex flex-column ms-2">
                                        <h6 class="mb-1 text-primary"><%=comment.user.name%></h6>
                                        <p class="comment-text"><%=comment.content%></p>
                                    </div>
                                </div>
                                <div class="d-flex flex-row fs-12" style="padding-left: 35px;">
                                    <!-- <div class="like p-2 cursor"><i class="fa fa-thumbs-up"></i><span class="ml-1">Like</span></div> -->
                                    <% if(comment.user.id==locals.user.id || post.user.id==locals.user.id){%>
                                        <div class="like p-2 cursor"><a href="/comments/destroy/<%=comment._id%>"  class="like cursor"><i class="fa fa-trash-alt"></i><span class="ml-1">Delete</span></a></div>
                                    <%}%>
                                </div>
                            </div>
                              <%}%>
                            </div>
                            </div>
                          </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12" style="background-color:navy; height: 5px;"></div>
        <%}%> 
</div>
</div>
</div>
<!-- <section id="user-friends">
<h3>Friends List</h3>
<%for(u of all_users){%>
<ul class="list-group list-group-numbered">
    <li class="list-group-item d-flex justify-content-between align-items-start">
      <div class="ms-2 me-auto">
        <div class="fw-bold">
            <a href="/users/profile/<%=u.id%>"><%=u.name%></a>
        </div>
      </div>
</li>
</ul>
<%}%> -->
<!-- </section> -->
<div class="container" id="friends_user_list">
    <div class="row">
        <div class="col static">
            <div class="profile-card">
              <%if(user.avatar){%>
                <img src="<%=user.avatar%>" alt="user" class="profile-photo">
              <%}else{%>
                <img src="/images/default.png" alt="user" class="profile-photo">
                <%}%>
          
            	<h5><a href="/users/profile/<%=user.id%>" class="text-white"><%=user.name%></a></h5>
            	<h4 class="text-white"><i class="fa fa-user"></i> Friends List</h4>
            </div><!--profile card ends-->
            
            <ul class="nav-news-feed">
                <%for(u of all_users){%>
              <li><i class="fa fa-user icon2"></i><div><a href="/users/profile/<%=u.id%>"><%=u.name%></a></div></li>
              <%}%>
              <!--  -->
            </ul><!--news-feed links ends-->
            
        </div>
	</div>
</div>
</div>

<script src="/js/home_posts.js"></script>




<!-- <div id="chat-block">
              <div class="title">Chat online</div>
              <ul class="online-users list-inline">
                <li><a href="#" title="Linda Lohan"><img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="user" class="img-responsive profile-photo"><span class="online-dot"></span></a></li>
                <li><a href="#" title="Sophia Lee"><img src="https://bootdey.com/img/Content/avatar/avatar6.png" alt="user" class="img-responsive profile-photo"><span class="online-dot"></span></a></li>
                <li><a href="#" title="John Doe"><img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="user" class="img-responsive profile-photo"><span class="online-dot"></span></a></li>
                <li><a href="#" title="Alexis Clark"><img src="https://bootdey.com/img/Content/avatar/avatar5.png" alt="user" class="img-responsive profile-photo"><span class="online-dot"></span></a></li>
                <li><a href="#" title="James Carter"><img src="https://bootdey.com/img/Content/avatar/avatar4.png" alt="user" class="img-responsive profile-photo"><span class="online-dot"></span></a></li>
                <li><a href="#" title="Robert Cook"><img src="https://bootdey.com/img/Content/avatar/avatar3.png" alt="user" class="img-responsive profile-photo"><span class="online-dot"></span></a></li>
                <li><a href="#" title="Richard Bell"><img src="https://bootdey.com/img/Content/avatar/avatar2.png" alt="user" class="img-responsive profile-photo"><span class="online-dot"></span></a></li>
                <li><a href="#" title="Anna Young"><img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="user" class="img-responsive profile-photo"><span class="online-dot"></span></a></li>
                <li><a href="#" title="Julia Cox"><img src="https://bootdey.com/img/Content/avatar/avatar6.png" alt="user" class="img-responsive profile-photo"><span class="online-dot"></span></a></li>
              </ul>
            </div>chat block ends -->

